
.popup {
    position: absolute;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    opacity: 0.5;
    display: flex;
    justify-content: center;
}

.popup__container {
    width: 430px;
    height: 330px;
    background: white;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 195px;
    position: relative;
    z-index: 2;
}

.popup__title {
    font-family: 'Inter','Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin:0;
}

.popup__text {
    width: 358px;
    height: 27px;
    border: none;
    border-bottom: 1px solid #f1f1f1;
    padding: 0 10px;
    box-sizing: border-box;
    font-family: 'Inter','Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: black;
}

.popup__button {
    width: 358px;
    height: 50px;
    background-color: #000000;
    border-radius: 2px;
    cursor: pointer;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    font-family: 'Inter','Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: white;
}

.popup__close-button {
    width: 41px;
    height:41px;
    padding: 0;
    margin: 0;
    transform: rotate(90deg);
    position: absolute;
    top: -46px;
    right: -46px;
    cursor:pointer;
}