.popup-picture__container {
    max-width: 75vw;
    max-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    position: relative;
    margin: auto 0;
}