@import url(./__logo/header__logo.css);

.header {
    max-width: 882px;
    min-height: 74px;
    margin: 0 199px;
    padding-top: 45px;
    display: flex;
    border-bottom: 1px solid #545454;
}

@media screen and (min-width: 1281px)  and (max-width: 1440px) {
    .header {
        margin: 0 auto;
    }
}

@media screen and (max-width: 800px)  {
    .header {
        min-height: 56px;
        margin: 0;
        padding-top: 35px;
        padding-left: 24px;
    }
}