@import url(./__item/elements__item.css);
@import url(./__item-picture/elements__item-picture.css);
@import url(./__item-info/elements__item-info.css);
@import url(./__item-title/elements__item-title.css);
@import url(./__item/elements__item.css);

.elements {
    max-width: 882px;
    min-height: 744px;
    margin: 46px 199px 66px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 18px;
    row-gap: 21px;
}



