@import url(./__container/popup-picture__container.css);
@import url(./__image/popup-picture__image.css);
@import url(./__title/popup-picture__title.css);
@import url(./__close-button/popup-picture__close-button.css);
@import url(./_opened/popup-picture_opened.css);
@import url(./_closed/popup-picture_closed.css);



.popup-picture {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
}








